<!-- for showing comments -->
   <li id="comment-list-<%=comment.id %>">
    <span><%= comment.content %>
     by <%= comment.user.name %>
    
        <!-- show delete button only to user who made the comment -->
       <% if(locals.user && locals.user.id == comment.user.id){ %>
        <a href="/comment/delete/<%= comment.id %> " class="comment-delete-button" id="<%=comment.id %>">X</a>
        <% } %>
    </span>
   </li>
