<link rel="stylesheet" href="css/_comments.css">
<!-- for showing comments -->
<li class="comments-li"id="comment-list-<%=comment.id %>">
 
    
    <% if (comment.user.avatar &&  comment.user.avatar.startsWith('https')) { %>
      <img src="<%=comment.user.avatar %>" alt="User Profile" class="circular-profile-pic" />
    <% } else { %>
      <img src="/<%=comment.user.avatar %>" alt="User Profile" class="circular-profile-pic" />
    <% } %>
    
    <span><%= comment.content %></span>
    <!-- display the likes of the comment  -->
    <% if(locals.user){ %>
      
      <a class="likes-toggle" data-id="<%= comment.id %>" data-type="Comment">
        <img width="50" height="50" src="https://img.icons8.com/ios/50/like--v1.png" alt="speech-bubble--v1 data-id=<%= post.id %>"/>  
        <%= comment.likes.length %>
      </a>
      
    <% } else {%>
      <span><i class="fa fa-thumbs-up" aria-hidden="true"></i> <%= post.likes.length %></span>
    <% } %>

    <!-- show delete button only to user who made the comment -->
    <% if(locals.user && locals.user.id == comment.user.id){ %>
    <a
      href="/comment/delete/<%= comment.id %> "
      class="comment-delete-button"
      id="<%=comment.id %>"
      >X</a
    >
    <% } %>

</li>
