<li>
  <%= post.content %>
  <small>posted by <%= post.user.name %></small>

  <!-- showing delete button only to signed in user and if the post is made by the signed in user -->
  <% if(locals.user && locals.user.id == post.user.id){ %>
  <a href="/post/delete/<%= post.id %>">X</a>
  <% } %>

  <!-- for adding comments -->
  <% if(locals.user){%>
  <form method="post" action="/comment/create">
    <input type="text" name="content" placeholder="comment here" required />
    <input type="hidden" name="post_id" value="<%= post.id %>" />
    <input type="submit" value="add comment" />
  </form>
  <% }%>

  <div class="show_comments">
    <ul>
      <% for(comment of post.comments){%> 
        <%- include(`_comments.ejs`) %> 
        <% }%>
    </ul>
  </div>
</li>
