<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/_header.css">
    <link rel="stylesheet" href="/css/_footer.css">
    <%- style %>
  </head>
  <body>
    <% if(flash.success && flash.success.length > 0) {%>
      <h5><%= flash.success %></h5>
      <% } %>
    <%- include('_header'); %>
    <main id="layout-main">
      <%- body %>
    </main>
    <%- include('_footer'); %>
    <%- script %>
  </body>
</html>
