<link rel="stylesheet" href="/css/profile.css" />

<% if (profile_user.avatar.startsWith('https')) { %>
    <img src="<%=profile_user.avatar %>" alt="avatar" id="user-avatar" />
<% } else { %>
    <img src="/<%=profile_user.avatar %>" alt="avatar" id="user-avatar" />
<% } %> 

<% if(locals.user.id == profile_user.id) {%>
  
<div class="display-profile">
  <form
    action="/users/update/<%= profile_user.id %>"
    method="post"
    enctype="multipart/form-data"
  >
    <input type="text" name="name" value="<%= profile_user.name %>" required />
    <input
      type="email"
      name="email"
      value="<%= profile_user.email %>"
      required
    />
    <input type="file" name="avatar" />
    <input type="submit" value="update" />
  </form>
</div>

<%} else {%>
<div class="display-profile">
  <h1>Name: <%= profile_user.name %></h1>
  <h1>Email ID : <%= profile_user.email %> <% } %></h1>
</div>

<script>
  console.log();
</script>
